@import "variables";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.6s;
}
body {
    overflow-x: hidden;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
.text-max1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.hover-up:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
}
#header {
    background-color: #fff;
}
#header .master-item {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
}
#header .navbar {
    background-color: #2229;
    .nav-item {
        margin-left: 10px;
    }
}
#header .navbar-light a,
#header .navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.progress {
    max-width: 250px;
}

#homepage {
    #hero {
        .swiper-wrapper {
            max-width: 1000px;
        }
        .swiper-slide {
            .hero-item {
                background-position: center;
                background-size: cover;
                padding-top: 50%;
            }
            .swiper-content {
                position: absolute;
                bottom: 50%;
                transform: translateY(50%);
            }
        }
    }
    #about-us {
        .about-right {
            img {
                border-radius: 0.6rem;
            }
        }
        ul {
            li::before {
                content: "\f05d";
                font-family: fontawesome;
                color: #777;
                padding-right: 10px;
                font-weight: 100;
                font-size: 18px;
            }
        }
    }
    #contact-us {
        .contact-media {
            background-image: url("https://i.imgur.com/PyVB3Nj.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .contact-list {
            background-color: #222222;
            ul > li {
                h6 {
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: 700;
                }
                p {
                    opacity: 0.6;
                }
                i {
                    font-size: 45px;
                }
            }
        }
        .contact-form {
            background-color: rgb(246, 244, 242);
        }
    }

    #content {
        .content-body {
            .content-list {
                .content-item {
                    position: relative;
                }
                i {
                    position: absolute;
                    z-index: 1;
                    padding: 16px 13px;
                    background-color: #222;
                    border-radius: 100%;
                    right: 30px;
                    top: -25px;
                    color: #fff;
                }
            }
        }
    }
    #library {
        background-color: #222;
    }
    #mentor {
        .swiper-wrapper {
            max-height: 800px;
        }
        .mentor-media {
            position: relative;
            z-index: -1;

            img {
                width: 100%;
                height: 800px;
                object-fit: cover;
                border-bottom-right-radius: 0.7rem;
                border-bottom-left-radius: 0.7rem;
            }
        }
    }
    #statistical {
        background-color: #222;
        .statistical-item {
            margin: 16px;
            border: solid 2px #fff;
            position: relative;
            i {
                color: #eee;
                position: absolute;
                right: -15px;
                color: #fff;
                font-size: 50px;
                padding: 25px 0;
                background-color: #222;
            }
        }
    }
    #courses {
        .courses-list {
            .courses-item {
                border: 1px solid #ececec;
                margin-left: 24px;
                margin-right: 24px;
                transition: all 0.4s;
                .courses-name {
                    color: #fff;
                    padding: 10px;
                    font-size: 18px;
                    border-bottom-left-radius: 0.3rem;
                    border-bottom-right-radius: 0.3rem;
                }
                .courses-price {
                    color: #000;
                    padding: 0.6em 15% 0;
                    font-weight: 500;
                    padding: 0;
                    margin: 0;
                }
                .courses-time {
                    font-size: 13px;
                    font-style: italic;
                }
                .item-content {
                    padding: 32px 0;
                    border-bottom: 1px dashed #e0e0e0;
                    border-top: 1px dashed #e0e0e0;
                    li {
                        margin-top: 10px;
                        span {
                            margin-left: 10px;
                            color: #777;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
#footer {
    background-color: #222;
    color: #fff;
}

// Responsive
@include responsive_xs {
    .homepage {
        margin-top: 56px;
    }
    #statistical {
        padding-left: 32px;
        padding-right: 32px;
        .statistical-item {
            width: calc(100% - 32px);
        }
    }
    #courses {
        .content {
            .courses-item {
                width: calc(100% - 48px);
            }
        }
    }
}
@include responsive_md {
    .homepage {
        #mentor {
            .mentor-media::before {
                position: absolute;
                content: "";
                z-index: 1;
                background-color: #ffffff;
                display: block;
                height: 112%;
                left: -79px;
                top: -32px;
                transform: rotate(5deg);
                width: 150px;
            }
        }
    }
    #statistical {
        .statistical-item {
            width: calc(100% / 2 - 32px);
            i {
                font-size: 40px !important;
            }
        }
    }
    #courses {
        .content {
            .courses-item {
                width: calc(100% / 2 - 48px);
            }
        }
    }
}
@include responsive_lg {
    .homepage {
        margin-top: 172px;
    }
    #statistical {
        .statistical-item {
            width: calc(100% / 4 - 32px);
        }
    }
    #courses {
        .content {
            .courses-item {
                width: calc(100% / 4 - 48px);
            }
        }
    }
}
