<div>
  {{#each this.info}}
    <div id="header" class="fixed-top">
      <div class="container-xl d-none d-lg-block">
        <div
          class="master-head py-2 d-flex justify-content-center align-items-center"
        >
          <div class="master-item">
            <img src="{{this.logoUrl}}" style="width: 100px" alt="" />
          </div>
          <div class="master-item">
            <i class="fas fa-map-marker-alt fa-xl text-primary"></i>
            <p class="ps-2 text-black m-0 fs-6">{{this.address}}</p>
          </div>
          <div class="master-item">
            <i class="fas fa-phone-alt fa-xl text-primary"></i>
            <p class="ps-2 text-black m-0 fs-6">{{this.phone}}</p>
          </div>
          <div class="master-item">
            <i class="fas fa-envelope fa-xl text-primary"></i>
            <p class="ps-2 text-black m-0 fs-6">{{this.email}}</p>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-xl">
          <a class="navbar-brand" href="/">
            Trang chủ
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar"
            aria-controls="navbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/news">Giới thiệu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/blogs">Khóa học</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Tài liệu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Thư viện</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Tin tức</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Liên hệ</a>
              </li>

            </ul>
          </div>
        </div>
      </nav>
    </div>
  {{/each}}
</div>